@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
:root {
    --bg-accent: #d63273;
    --bg-color: #c2185b;
    --bg-dark: #a5154f;
    --grey: #333;
    --black: #222;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--black);
}

.App {
    background: var(--grey);
    margin: 20px auto;
    width: 90%;
    max-width: 700px;
    color: #eee;
}

.navbar {
    padding: 10px 20px;
    text-align: center;
    background: var(--bg-accent);
}

.navbar p {
    font-size: 1.2em;
}

.navbar h1 {
    margin: 10px 0;
}

.book-list {
    margin: 20px;
}

.book-list ul {
    padding: 0;
    list-style-type: none;
}

.book-list li {
    background: var(--bg-color);
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
}

.book-list li:hover {
    opacity: 0.7;
    text-decoration: line-through;
}

.book-list .title {
    font-weight: bold;
    color: #fff;
    font-size: 1.2em;
}

.book-list .author {
    font-size: 0.9em;
    color: #ddd;
}

.empty {
    margin: 20px;
    text-align: center;
}

form {
    padding: 20px;
}

input[type='text'] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 6px 0;
    background: transparent;
    color: #fff;
    font-size: 1.2em;
    border: 2px solid var(--bg-accent);
    border-radius: 8px;
    font-family: inherit;
}

input[type='submit'] {
    height: 50px;
    font-size: 20px;
    margin: 10px auto;
    background: var(--bg-color);
    text-transform: capitalize;
    padding: 6px 20px;
    display: block;
    border-radius: 5px;
    border: 0;
    transition: all 0.5s ease-in-out;
    color: white;
    font-family: inherit;
}

input[type='submit']:hover {
    transform: scale(1.15);
    background: var(--bg-dark);
}

::placeholder {
    color: white;
    opacity: 0.5;
}