@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
:root {
    --bg-accent: #0078e3;
    --bg-color: #2578c0;
    --bg-dark: #0460b1;
    --grey: rgba(0, 0, 0, 0.3);
    --black: #222;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --stripe: #18293b;
    --bg: #142333;
    background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0, linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0, linear-gradient(315deg, var(--bg) 25%, transparent 25%), linear-gradient(45deg, var(--bg) 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: var(--stripe);
}

.App {
    background: var(--grey);
    margin: 20px auto;
    width: 90%;
    max-width: 700px;
    color: #eee;
}

.navbar {
    padding: 10px 20px;
    text-align: center;
    background: var(--bg-accent);
}

.navbar p {
    font-size: 1.2em;
}

.navbar h1 {
    margin: 10px 0;
    font-size: 3rem;
}

.task-list {
    margin: 20px;
}

.task-list ul {
    padding: 0;
    list-style-type: none;
}

.task-list li {
    background: var(--bg-color);
    border-radius: 4px;
    padding: 15px;
    cursor: pointer;
    margin: 10px 0;
}

.task-list li:hover {
    opacity: 0.7;
    text-decoration: line-through;
}

.task-list .title {
    font-weight: bold;
    color: #fff;
    font-size: 1.5em;
}

.task-list .body {
    font-size: 1.2em;
    color: #ddd;
}

.empty {
    margin: 20px;
    text-align: center;
    font-size: 1.5rem;
}

form {
    padding: 20px;
}

input[type='text'] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 6px 0;
    background: transparent;
    color: #fff;
    font-size: 1.2em;
    border: 2px solid var(--bg-accent);
    border-radius: 8px;
    font-family: inherit;
}

input[type='submit'] {
    height: 50px;
    font-size: 20px;
    margin: 10px auto;
    background: var(--bg-color);
    text-transform: capitalize;
    padding: 6px 20px;
    display: block;
    border-radius: 5px;
    border: 0;
    transition: all 0.5s ease-in-out;
    color: white;
    font-family: inherit;
}

input[type='submit']:hover {
    transform: scale(1.15);
    background: var(--bg-dark);
}

::placeholder {
    color: white;
    opacity: 0.5;
}

::selection {
    color: white;
    background: var(--stripe);
}

footer {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 10px;
}

@media (max-width: 700px) {
    .task-list .title {
        font-size: 1.2rem;
    }
    .task-list .body {
        font-size: 1rem;
    }
    footer {
        font-size: 9px;
    }
}